html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.total {
  width: 100%;
  height: max-content;
  font-size: 2rem;
}
button {
  display: block;
  margin: 0 auto;
  margin-top: 20vh;
  width: 8rem;
  height: 4rem;
  background: rgb(255, 99, 125);
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 100;
}
.clear {
  display: none;
}
